go 1.25.0

use (
	./pkg/envfile
	./pkg/log
	./pkg/mcmanifest
	./pkg/mojangjava
	./pkg/protocol
	./pkg/reporoot
	./pkg/msauth
	./pkg/safepath
	./scripts/gen-jwt-secret
	./scripts/gen-tray-icon
	./services/qxagent
	./services/qxapi
	./services/qxlauncher
)
